.hero {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.hero article {
  width: 25vw;
  min-width: 200px;
  height: 25vw;
  min-height: 200px;
}
.hero article img {
  height: 100%;
  border: 1px solid currentColor;
  border-radius: 10px;
}

.hero .button {
  width: 100%;
  text-align: center;
  font-size: 1.5em;
}
.gallery {
  padding: 2em 0;
  flex-wrap: wrap;
  gap: 0.5em;
}
.gallery > article img {
  width: 200px;
  height: 200px;
}