.master-header .hero {
  padding: 4em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.hero article img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border: 1px solid currentColor;
  border-radius: 10px;
}

.master-header .hero .button {
  width: 100%;
  text-align: center;
}
