:root {
  --color__primary: black;
  --color__secondary: white;
  --font__headings: 'Bangers', cursive;
  --font__body: 'Nunito', sans-serif;
  --transition__on: .4s ease-in;
  --transition__off: .2s ease-out;
  [data-theme='dark'] {
      color-scheme: dark;
      --color__primary: white;
      --color__secondary: black;
  }
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
blockquote,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
pre {
  margin: 0;
}

body {
  background: var(--color__secondary);
  color: var(--color__primary);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: var(--font__body);
}
h1, h2, h3 {
  font-family: var(--font__headings);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

img,
video,
canvas,
svg {
  max-width: 100%;
}

ul {
  padding-left: 0;
  list-style: none;
}

button {
  border: 0;
  outline: 0;
  background: unset;
  color: currentColor;
  cursor: pointer;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
#sprite {
  display: none;
}
svg {
  fill: currentColor;
}